/* 
2023-09-28 (WIP)
https://github.com/stoneskipping/jjs-obsidian-snippets
CSS snippet for Obsidian.md
tested with default theme
OK to modify as needed

adds color to:
	*italic*
	**bold**
	***bolditalic***
	==highlight==
	~~strikethrough~~
	*==italic highlight==*
	**==bold highlight==**
	***==bolditalic highlight==**
	~~==strikethough highlight==~~
also adds some personal style choices to strikethroughs
	- i might separate this into another snippet later
	
palette inspiration from Primary by Ceciia May (:
https://github.com/ceciliamay/obsidianmd-theme-primary

to-do:
- maybe style settings plugin compatibility
*/

/* variables */
.theme-dark {
	/* default variables */
	--bold-color: hsl(4, 65%, 60%);
	--italic-color: hsl(198, 62%, 57%);
	
	/* new variables for snippet */
	--bi-color: hsl(154, 52%, 46%);
	
	--highlight-color: hsl(46, 91%, 69%);
	--highlight-bg: rgba(255, 187, 0, 0.2);
	
	--bold-highlight-color: hsl(300, 100%, 70%);
	--bold-highlight-bg: rgba(240, 79, 206, 0.2);
	
	--italic-highlight-color: hsl(256, 63%, 74%);
	--italic-highlight-bg: rgba(113, 122, 255, 0.2);
	
	--bi-highlight-color: hsl(22, 92%, 64%);
	--bi-highlight-bg: rgba(255, 115, 0, 0.2);
}
.theme-light {
	/* default variables */
	--bold-color: hsl(4, 72%, 55%);
	--italic-color: hsl(205, 66%, 46%);
	
	/* new variables for snippet */
	--bi-color: hsl(154, 47%, 49%);
	
	--highlight-color: hsl(43, 100%, 42%);
	--highlight-bg: rgba(255, 187, 0, 0.2);
	
	--bold-highlight-color: hsl(300, 54%, 61%);
	--bold-highlight-bg: rgba(240, 79, 206, 0.2);
	
	--italic-highlight-color: hsl(266, 31%, 57%);
	--italic-highlight-bg: rgba(113, 122, 255, 0.2);
	
	--bi-highlight-color: hsl(26, 66%, 57%);
	--bi-highlight-bg: rgba(255, 115, 0, 0.2);
}

/* de-emphasize markdown formatting */
span.cm-formatting.cm-formatting-strong,
span.cm-formatting.cm-formatting-em,
span.cm-formatting.cm-formatting-strong.cm-em.cm-strong,
span.cm-formatting.cm-em.cm-strong.cm-highlight,
span.cm-formatting.cm-formatting-strong.cm-strong.cm-highlight,
span.cm-formatting.cm-formatting-em.cm-em.cm-highlight,
span.cm-formatting.cm-formatting-highlight.cm-highlight,
span.cm-formatting.cm-formatting-strikethrough.cm-strikethrough,
span.cm-formatting.cm-header.cm-strong,
span.cm-formatting.cm-header.cm-em {
	color: var(--text-faint);
	background: none;
	text-decoration: none;
}

/* bold */
b, strong, 
.cm-strong, 
.HyperMD-header .cm-header.cm-strong,
.markdown-rendered strong {
	color: var(--bold-color);
}

/* italic */
i, em, 
.cm-em, 
.HyperMD-header .cm-header.cm-em,
.markdown-rendered em {
	color: var(--italic-color);
}

/* bold-talic*/ 
strong em, b i,
em strong, i b,
.cm-em.cm-strong,
.HyperMD-header .cm-header.cm-em.cm-strong,
.markdown-rendered strong em,
.markdown-rendered em strong {
	color: var(--bi-color);
}

/* highlight */
mark,
.cm-formatting-highlight, 
.cm-highlight,
.HyperMD-header .cm-header.cm-highlight,
.markdown-rendered mark,
.cm-s-obsidian span.cm-formatting-highlight,
.cm-s-obsidian span.cm-highlight {
    color: var(--highlight-color);
	background-color: var(--highlight-bg);
}

/* bold-highlight */
strong mark, b mark,
.cm-highlight.cm-strong,
.HyperMD-header .cm-header.cm-highlight.cm-strong,
.markdown-rendered strong mark,
.cm-s-obsidian span.cm-highlight.cm-strong {
	color: var(--bold-highlight-color);
	background-color: var(--bold-highlight-bg);
}

/* italic highlight */
em mark, i mark,
.cm-highlight.cm-em,
.HyperMD-header .cm-header.cm-highlight.cm-em,
.markdown-rendered em mark,
.cm-s-obsidian span.cm-highlight.cm-em {
	color: var(--italic-highlight-color);
	background-color: var(--italic-highlight-bg);
}

/* bold-italic highlight */
strong em mark, b i mark,
em strong mark, i b mark,
.cm-highlight.cm-em.cm-strong,
.HyperMD-header .cm-header.cm-highlight.cm-strong.cm-em,
.markdown-rendered strong em mark,
.markdown-rendered em strong mark,
.cm-s-obsidian span.cm-highlight.cm-em.cm-strong {
	color: var(--bi-highlight-color);
	background-color: var(--bi-highlight-bg);
}

/* strikethrough highlight */
.theme-dark .cm-highlight.cm-strikethrough,
.theme-dark del mark {
	color: #625a95;
	background-color: #625a9533;
}

.theme-light .cm-highlight.cm-strikethrough,
.theme-light del mark {
	color: #625a95;
	background-color: #625a9533;
}

/* strikethrough */
.markdown-preview-view del {
	color: var(--text-muted);
	text-decoration-line: line-through;
	text-decoration-color: var(--text-normal);
	text-decoration-thickness: .6em;
}

/* thinner line in edit mode */
.cm-strikethrough {
	color: var(--text-muted);
    text-decoration: line-through;
	text-decoration-color: var(--text-normal);
	text-decoration-thickness: .15em;
}

/* hide strikethrough on hover */
.markdown-preview-view del:hover, 
.cm-strikethrough:hover {
	text-decoration: none;
}
